temp
statistics
runs
temp-output
tmp
plan.*
output
elapsed.time
action.map
**/__pycache__
plan_numbers_and_cost
policy.fsap
sas_plan
unhandled.states
output.sas
debug.txt
graph.dot.png
features.txt
outfile.ps
policy.out
qnp_file.txt
output.txt
.DS_STORE
FOND_PRP/src/translate/__pycache__/
FOND_PRP/src/translate/pddl/__pycache__/
**/results
**/temp
**/statistics
tmp_minio/